<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vtellez.apps.wifitoggle"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-feature android:name="android.hardware.wifi"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/example_appwidget_preview"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Widget Broadcast receiver -->
        <receiver android:name=".WifiToggleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
        <!-- Connectivity Broadcast receiver -->
        <receiver android:name=".ConnectivityReceiver">
            <intent-filter>
                <action android:name="ActionReceiverWifi" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
